.wrapper-all-custom-grid {
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
  
    display: grid; 
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%; 
   /*  grid-template-rows: repeat(8, 12.5%);  */
    gap: 0px 0px; 
  }
  .wrapper-all-custom-grid div {
    border-bottom:1px solid #363636;
    position:relative;
  }
  .wrapper-all-custom-grid div span {
    content:"";
    width:1px;
    height:0%;
    position:absolute;
    background:#363636;
    right:0;
    top:0;
    
  }
  