
  .section-slider-img {
  
    width: 50%;
    display: flex;
    position: relative;
  }
  .slideshow-section-slider-img {
    margin: auto;
    width: 12.5vw;
    height: 530px;
    aspect-ratio: calc(9 / 16);
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translate(-100%,-10%);
  }
  .section-slider-img button {
    padding: 0;
    font-size: 18px;
    width: 12.5vw;
    height: 6.25vw;
    border-radius: unset;
    /* aspect-ratio: 1; */
    display: block;
    background: rgb(30,30,30);
background: linear-gradient(0deg, rgba(30,30,30,1) 3%, rgba(30,30,30,1) 21%, rgba(30,30,30,0.577468487394958) 59%, rgba(30,30,30,0) 100%);
    border-top: unset;
    border-bottom: 1px solid var(--color-line-bg);
    
    border-image-slice: 1;
    border-image-source: linear-gradient(0deg, rgba(54,54,54,1) 3%, rgba(54,54,54,1) 21%, rgba(54,54,54,0.5522584033613445) 48%, rgba(54,54,54,0) 100%);
    cursor: pointer;
    text-align: center;
    color: #f7f7f7;
    position: absolute;
    z-index: 90;
  }
  .section-slider-img button.nextButton svg,.section-slider-img button.prevButton svg {
    width: 50px;
    height: 50px;
    position: absolute;
    color: #f7f7f74a;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
  .slideshow-section-slider-img img {
    z-index:120;
  }
  .section-slider-img button:hover {
    background-color: #1E1E1E;
  }
 
  .prevButton {
    bottom: 40px;
    transform: translateY(100%);
    right: calc(12.5vw - 2px);

    border-right: unset !important;
  }
  
  .nextButton {
    right: 0;
    bottom: 40px;
    border-left:unset !important;
    transform: translateY(100%);
  }
  
  .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }