@font-face {
	font-family: "NewYork";
	src: local("NewYork"), url("./font/NewYork.ttf") format ("truetype");
}
:root {
    --margin-section-partners-index : 5vw;
    --margin-section-partners-detail-index : 17vw;
    --color-line-onfooter:  rgb(255 255 255 / 38%);
}
html,body {
    background :var(--bgColor-main);
    margin:0;
    padding:0;
    
}
.pointerEvent--disable {
    pointer-events: none !important;
}
.pointerEvent--active {
    pointer-events: all !important;
}
.demoHold {
        padding: 5rem;
    color: white;
    position: relative;
    display: block;
    width: 300px;
    height: 300px;
}
.loader-wrapper {
    position:fixed;
    z-index:99999;
    width:90vw;
    height:90vh;
    background:blue;

    font-size:5rem;
    color:white;
    display:flex;
}
p {
    font-family: "NewYork" !important;
}
.div-test {
    width:100%;
    height: 150vh;
}
/* config style global of warpper */
.grid-wrapper,.wrapper-all-custom-grid {

}
/* custom class anime */
.ani--navlinkParent{
    overflow:hidden;
}
.ani--navlinkChildren {
    transform: translate(0,-100px);
    opacity:0;
}
#navbar-logo-foranimation {
    opacity:0;
}
.ani--text01BannerChildren {
    transform: translate(0,-100px);
    opacity:0;
}
.item-grid-content img.is-reveal {
    clip-path : inset(0% 0% 0% 0%);
    tranform:scale(1.1);
    transition:2s cubic-bezier(0.900, 0.020, 0.295, 1.100);
    transition-delay:1.5 ;
}
.skew-missionPrimary-text h3.is-reveal {
    transform: rotate(-90deg) translate(-70%, -125%);
    transition:1s cubic-bezier(0.900, 0.020, 0.295, 1.100);
}
.skew-misson-text h3.is-reveal {
    transform: rotate(-90deg) translate(20%, -125%);
    transition:1s cubic-bezier(0.900, 0.020, 0.295, 1.100);
}
.skew-name-partners h3.is-reveal {
    transition-delay: 1s;
    transform: rotate(-90deg) translate(40%, -125%);
    transition:1s cubic-bezier(0.900, 0.020, 0.295, 1.100);
}
#img-partner-product img{
    clip-path: inset(0% 0% 0% 100%);
}
#img-partner-product img.is-reveal {
    clip-path: inset(0% 0% 0% 0%);
    transition:1s cubic-bezier(0.900, 0.020, 0.295, 1.100);
}
/* bearkpoint grid*/
@media(max-width:1000px) {

    /* xử lý lại height của .partner-itemgird */
    .partner-itemgird {
        height:690px;
    }
    .partner-itemgird--detailcompany {
        top: 35vw !important;
    }
    /* start */
    .grid-wrapper,.wrapper-all-custom-grid,.nav {
        grid-template-columns: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666% !important;
    }
    .custom01,.custom02 {
        grid-column-start: 1!important;
        grid-column-end: 4!important;
    }
    .breakpoint-1000 {
        display:none!important;
    }
    .item-grid-content {
        grid-column-start: 4!important;
    grid-column-end: 7!important;
    }
    .nav > .nav-links {
        grid-column-start: 1!important;
        grid-column-end: 7!important;

        background-color: #1E1E1E!important;
        padding: 20px 0!important;
        justify-content: space-around!important;
        border-top: 1px solid var(--color-line-bg)!important;
        border-bottom: 1px solid var(--color-line-bg)!important;
        transition:1s;
    }
    .nav > .nav-links > div {
        padding: 0 !important;
    }
    .nav > .nav-header {
        grid-column-start: 2!important;
    }
    .nav > .nav-btn {
        width: 16.666vw !important;
        height: 16.666vw !important;
        border-bottom: unset !important;
    }
    .nav > .nav-links {
        height: 8.333vw!important;
    }
    .mission-section {
        grid-column-start: 2!important;
    }
    .wraper-mission-section div.text-skew {
        grid-column-start: 1!important;
        grid-column-end: 2!important;
    }
    .partner-itemgird {
        grid-column-start: 1!important;
        grid-column-end: 9!important;
        /* padding: 0 20px!important; */
    }
    .wraper-partner-section  div.text-skew {
        grid-column-start: 1!important;
        grid-column-end: 2!important;
    }
    .partner-itemgird--item {
        left:0!important;
        transform: translate(0%,0%)!important;
        width: 50%!important;
    padding: 0 20px!important;
    }
    .partner-itemgird--logo {

        padding-right: 20px!important;
    width: 33.333vw!important;
    height: 33.333vw !important;
    left: 83.33% !important;
    }
    .partner-itemgird--detailcompany {
        left: 50%!important;
        padding-right: 20px!important;
        width:50% !important;
    }
    .tittle-section-partners {
        grid-column-start: 1!important;
        margin-top:100px;
    }
    .itemgrid-left-partners {
        grid-column-start: 1!important;
     grid-column-end: 4!important;
    }
    .itemgrid-right-partners {
        grid-column-start: 4!important;
     grid-column-end: 7!important;
    }
    .itemgrid-left-partners>div>div img, .itemgrid-right-partners>div>div img {
        width:30vw !important;
    }

    .text-getintouch {
        grid-column-start: 2 !important;
        grid-column-end: 6 !important;
    }
    .formcontact-getintouch {
        grid-column-start: 1!important;
    }
    .formcontact-getintouch form input:nth-child(n) {
        width:33.333% !important;
        height: 8.333vw!important;

    }
    .formcontact-getintouch > button {
        width:33.333% !important;
    }


    .slideshow-section-slider-img {
       
    }
    .section-slider-img button {
        height: 16.666vw!important;
        width: 16.666vw!important;
        border-radius: 50%!important;
    }
    .section-slider-img button.nextButton svg, .section-slider-img button.prevButton svg {
        width: 70px!important;
        height: 70px!important;
    }
    .section-slider-img button.nextButton{
        grid-column: 6!important;
      
    }
    .itemgrid-left-aboutus {
        grid-column-start: 1!important;
        grid-column-end: 4!important;}
        .itemgrid-right-aboutus {
            grid-column-start: 4!important;
            grid-column-end: 7!important;
        }

}
@media(max-width:600px) {

 
    .grid-wrapper,.wrapper-all-custom-grid,.nav {
        grid-template-columns: 25% 25% 25% 25% !important;
    }
 .item-grid-content {
    grid-column-start:3!important;
 }
}