@font-face {
	font-family: "NewYork";
	src: local("NewYork"), url("./font/NewYork.ttf") format ("truetype");
}
:root {
    --margin-section-partners-index : 5vw;
    --margin-section-partners-detail-index : 18vw;
    --color-line-onfooter:  rgb(255 255 255 / 38%);
}
html,body {
    background :var(--bgColor-main);
    margin:0;
    padding:0;
    
}
.lock--dom {
    display:none !important;
    visibility: hidden!important;

}
.pointerEvent--disable {
    pointer-events: none !important;
}
.pointerEvent--active {
    pointer-events: all !important;
}
.demoHold {
        padding: 5rem;
    color: white;
    position: relative;
    display: block;
    width: 300px;
    height: 300px;
}
.loader-wrapper {
    position:fixed;
    z-index:99999;
    width:90vw;
    height:90vh;
    background:blue;

    font-size:5rem;
    color:white;
    display:flex;
}
p {
    font-family: "NewYork" !important;
}
.div-test {
    width:100%;
    height: 150vh;
}
/* config style global of warpper */
.grid-wrapper,.wrapper-all-custom-grid {

}
/* custom class anime */
.ani--navlinkParent{
    overflow:hidden;
}
.ani--navlinkChildren {
    transform: translate(0,-100px);
    opacity:0;
}
#navbar-logo-foranimation {
    opacity:0;
}
.ani--text01BannerChildren {
    transform: translate(0,-100px);
    opacity:0;
}
.item-grid-content img.is-reveal {
    clip-path : inset(0% 0% 0% 0%);
    tranform:scale(1.1);
    transition:2s cubic-bezier(0.900, 0.020, 0.295, 1.100);
    transition-delay:1.5 ;
}
.skew-missionPrimary-text h3.is-reveal {
    transform: rotate(-90deg) translate(-70%, -125%);
    transition:1s cubic-bezier(0.900, 0.020, 0.295, 1.100);
}
.skew-misson-text h3.is-reveal {
    transform: rotate(-90deg) translate(20%, -125%);
    transition:1s cubic-bezier(0.900, 0.020, 0.295, 1.100);
}
.skew-name-partners h3.is-reveal {

    opacity:1;
    transition: opacity 1s cubic-bezier(0.900, 0.020, 0.295, 1.100);
}
#img-partner-product img{
    clip-path: inset(0% 0% 0% 100%);
}
#img-partner-product img.is-reveal {
    clip-path: inset(0% 0% 0% 0%);
    transition:1s cubic-bezier(0.900, 0.020, 0.295, 1.100);
}
/* bearkpoint grid*/
/* ----custom 1k2 */
@media(max-width:1200px) {
.nav-links {
    grid-column-end: 6!important;
}
}
@media(max-width:1000px) {
    .nav {
        height: fit-content !important;
    }
    /* xử lý lại height của .partner-itemgird */
    .partner-itemgird {
        height:690px;
    }

    /* start */
    .grid-wrapper,.wrapper-all-custom-grid,.nav {
        grid-template-columns: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666% !important;
    }
    .custom01,.custom02 {
        grid-column-start: 1!important;
        grid-column-end: 4!important;
    }
    .breakpoint-1000 {
        display:none!important;
    }
    .item-grid-content {
        grid-column-start: 4!important;
    grid-column-end: 7!important;
    top: -25vw!important;
    }
    .nav > .nav-links {
        grid-column-start: 1!important;
        grid-column-end: 7!important;

        background-color: #1E1E1E!important;
        padding:unset!important;
        justify-content: space-around!important;
        border-top: 1px solid var(--color-line-bg)!important;
        border-bottom: 1px solid var(--color-line-bg)!important;
        transition:1s;
    }
    .nav > .nav-links > div {
        padding: 0 !important;
    }
    .nav > .nav-header {
        grid-column-start:1!important;
      
            height: 16.666vw!important;
        
    }
    .nav > .nav-btn {
        width: 16.666vw !important;
        height: 16.666vw !important;
        border-bottom: unset !important;
    }
    .nav > .nav-links {
        height: 8.333vw!important;
    }
    .nav>.nav-header a img {
        margin: auto 0 auto 0!important;
    }
    .mission-section {
        grid-column-start: 2!important;
    }
    .wraper-mission-section div.text-skew {
        grid-column-start: 1!important;
        grid-column-end: 2!important;
    }
    .partner-itemgird {
        grid-column-start: 1!important;
        grid-column-end: 9!important;
        /* padding: 0 20px!important; */
    }
    .wraper-partner-section  div.text-skew {
        grid-column-start: 1!important;
        grid-column-end: 2!important;
    }
    .partner-itemgird--item {
        left:0!important;
        transform: translate(0%,0%)!important;
        width: 50%!important;
    padding: 0 20px!important;
    }
    .partner-itemgird--logo {

       
        width: calc(33.333vw - 20px)!important;
        height: calc(33.333vw - 20px) !important;
    left: 83.33% !important;
    }
    .partner-itemgird--detailcompany h3,    .partner-itemgird--detailcompany p, .partner-itemgird--detailcompany a  {
        margin: 1rem  0 1rem 20px !important;
    }

    .partner-itemgird--detailcompany {
        top: 40vw !important;
        left: 50%!important;
        padding: 0!important;
        width:50% !important;
    }
    .tittle-section-partners {
        grid-column-start: 1!important;
        margin-top:50px;
    }
    .itemgrid-left-partners {
        grid-column-start: 1!important;
     grid-column-end: 4!important;
    }
    .itemgrid-right-partners {
        grid-column-start: 4!important;
     grid-column-end: 7!important;
    }
    .itemgrid-left-partners>div>div img, .itemgrid-right-partners>div>div img {
        width:30vw !important;
    }

    .text-getintouch {
        grid-column-start: 2 !important;
        grid-column-end: 6 !important;
    }
    .formcontact-getintouch {
        grid-column-start: 1!important;
    }
    .formcontact-getintouch form input:nth-child(n) {
        width:33.333% !important;
        height: 8.333vw!important;

    }
    .formcontact-getintouch > button {
        width:33.333% !important;
    }


    .slideshow-section-slider-img {
        width:33.333vw!important;
        height: 480px!important;
    }
    .section-slider-img button {
        height: 8.333vw!important;
    width: 16.666vw!important;
    }
    .section-slider-img button.nextButton svg, .section-slider-img button.prevButton svg {
        width: 70px!important;
        height: 70px!important;
    }
    .section-slider-img button.nextButton{
        grid-column: 6!important;
      
    }
 

      
        .skew-missionPrimary-text {
            grid-row: 1;
            grid-column-start: 1!important;
            grid-column-end: 2!important;
        }
    .skew-vision-text {
        grid-column-start: 1!important;
        grid-column-end: 2!important;
    }
    .skew-vision-text h3 {
    
        transform:rotate(-90deg) translate(-110%, -125%) !important;
    }
    .vision-img-section {
        grid-column-start: 2!important;
        width: 33.333vw!important;
        padding: 0 !important;
    }
    .vision-text-section {
        grid-column-start: 4!important;
    }

    .itemgrid-left-aboutus {
        /* display:none !important; */
        position: absolute !important;
        background-size: cover !important;
        grid-column-start: 1 !important;
        grid-column-end: 7 !important;
        box-shadow: inset 0 5px 12px 12px #1e1e1e !important;

    }
    .itemgrid-left-aboutus > div {
        top: 18vh!important;
        z-index:99!important;
    }
    .itemgrid-right-aboutus {
        padding-top:30vh !important;
        background: rgb(0,0,0,.5);
        grid-column-start: 2!important;
        grid-column-end: 6!important;

    }
    .itemgrid-left-partners, .itemgrid-right-partners {
        padding: 0 !important;
    }

    .footer-logo {
        grid-column-start: 1!important;
        grid-column-end: 5!important;
    }
    .footer-menu {
        grid-column-start: 5!important;
        grid-column-end: 7!important;
    }
    .footer-iframe {
        grid-row: 2!important;
        grid-column-start: 1!important;
        grid-column-end: 7!important;
        padding: 0 !important;
        margin: 30px auto!important;
        width: 95%!important;
    }
    /* anime */
    .skew-missionPrimary-text h3.is-reveal {
        transform: rotate(-90deg) translate(-100%, -125%)!important;
    }



    /*  secrion partner -fix */
    .nextButton {
        right: 0!important;
    bottom: -30px!important;
    transform: translateY(100%)!important;
   
    }
    .prevButton {
        bottom: -30px!important;
        transform: translateY(100%)!important;
        right: calc(16.666vw + 1px)!important;
    }
}
@media(max-width:600px) {
    .breakpoint-600 {
        display:none !important;
    }
 
    .grid-wrapper,.wrapper-all-custom-grid,.nav {
        grid-template-columns: 25% 25% 25% 25% !important;
        overflow: hidden!important;
    }
    .item-grid-content {
        grid-column-start:3!important;
    }

/* skew text - off */
.slideshow-section-slider-img {
    width: 50vw!important;
    transform: translate(-50%,0%)!important;
}
.section-slider-img button {
    height: 12.5vw!important;
    width: 25vw!important;
}
.prevButton {
    bottom: -30px!important;
    left: 0;
    transform: translateY(100%)!important;
    right: unset!important;
}
.skew-name-partners {
    display:none !important;
}
    /* nav */
    .nav > .nav-header {
        grid-column-start: 1!important;
        grid-column-end: 3!important;
        height: 25vw!important;
    }
    .nav > .nav-links {
        height: 12.5vw!important;
      
    }
    .nav > .nav-links > div a {
        font-size:1rem !important;
    }
    /* hero section */
    .item-grid-content {
        grid-column-start: 2!important;
        height: 80vh !important;
        top: 0vw!important;

    }
    .custom01, .custom02 {
        grid-column-end: 5!important;
       
        line-height: 130%!important;
       
    }
    .custom01 {
        font-size: .8rem!important;
        top: 40vh!important;
    }
    .custom02 {
        font-size: 1rem!important;
        top: 50vh!important;
        margin-top:1rem!important;
    }
    /* welcome section */
    .skew-misson-text h3 {
        font-size: 55px!important;
    }
    .mission-section-content {
        font-size: 1rem!important;
    }
    /* mission section */
    .mission-section {
        grid-column-start: 1!important;
    }
    .mission-section-content {
        left: 25vw !important;
        max-width:75vw !important;
       width:unset !important;
    }
    /* vision section */
    .skew-vision-text h3 {
        font-size: 55px!important;
    }
    .vision-img-section {
        grid-column-start: 1!important;
        width: 50vw!important;
        opacity: .4!important;
    }
    .vision-text-section {
        grid-column-start: 2!important;
        
    }
    .vision-text-section div p {
        font-size: 1rem !important;
    }
    /* our brands section */
    .missionPrimary-section-content {
        padding: 1rem !important;
        left: 25vw !important;
        font-size: 1rem !important;
        background: rgb(0 0 0 / 78%) !important;
    }
    /* get in touch */
    .text-getintouch {
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;
    }
    /* wigdet */
    .widget {
        display:none !important;
    }
    /* footer */
    .footer-menu {
        display:none !important;
    }
    .footer-logo img {

        width: 80%!important;
    }
    /* About Us Page */
    .section-aboutus {
        height: fit-content !important;
    }
    .itemgrid-right-aboutus {
        grid-column-start: 1!important;
        padding-top: 25vh !important;
    }
    .itemgrid-right-aboutus div {
        top: 15vh!important;
    }
    .itemgrid-left-aboutus {
          
    height: 90%!important;

    }
    /* contact section */
    .formcontact-getintouch > button {
        width: 50vw !important;
        height: 12.5vw !important;
    }
    .formcontact-getintouch form input:nth-child(n) {
  
        height: 12.5vw!important;
    }

    /* Partners Page */
    .itemgrid-left-partners {
        grid-column-start: 1!important;
        grid-column-end: 3!important;
        height: 350px!important;
    }
    .itemgrid-right-partners{
        grid-column-start: 3!important;
        grid-column-end: 5!important;
        height: 350px!important;
    }
    .tittle-section-partners {
    
        margin-top:20px;
    }
}
